anthropic==0.45.2
astor==0.8.1
atlassian-python-api==3.41.19
docker==7.1.0
einops==0.8.0
fire==0.7.0
GitPython==3.1.43
html2markdown==0.1.7
notion-client==2.3.0
numpy==1.26.4
openai==1.57.3
pymongo==4.10.1
pypdf==5.3.0
python-dotenv==1.0.1
rich==13.9.4
torch==2.5.1
transformers==4.47.0
tqdm==4.67.1